<nav class="navbar navbar-expand-sm navbar-dark dark-bg dark-override">
    {% assign home='/' %}
  <a class="navbar-brand nav-link" href="{{ home | relative_url }}">Jason Schuchardt</a>
  <button aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
    data-target="#navContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
      <li class="nav-item
        {% if item.children %}dropdown{% endif %}">
        <a class="nav-link
          {% if page.url == item.link %}active{% endif %}
          {% if item.children %}dropdown-toggle{% endif %}
          " href="{{ item.link | relative_url }}" {% if item.children %} id="{{item.name | downcase}}Dropdown"
          role="button" data-toggle="dropdown" {% endif %}>
          {{ item.name }}
        </a>
        {% if item.children %}
        <div class="dropdown-menu" aria-labelledby="{{ item.name | downcase }}Dropdown">
          {% for child in item.children %}
          <a class="dropdown-item" href="{{ child.link | relative_url }}">
            {{ child.name }}
          </a>
          {% endfor %}
        </div>
        {% endif %}

      </li>
      {% endfor %}
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle btn" data-bs-toggle="dropdown"
          id="teachingDropdown" role="button">
          Teaching
        </a>
        <div aria-labelledby="teachingDropdown" class="dropdown-menu">
          {% for classNav in site.data.classes_list %}
          {% if classNav.text %}
          <span class="dropdown-item disabled">
            {{ classNav.text }}
          </span>
          {% endif %}
          {% if classNav.divider %}
          <div class="dropdown-divider">
          </div>
          {% endif %}
          {% if classNav.name %}
          {% assign tempid = "/classes/" | append: classNav.name %}
          {% assign class = site.classes | where: 'id', tempid | first %}
          {% if class %}
          <a class="dropdown-item" href="{{classNav.name | prepend: "/classes/" | append: ".html" | relative_url}}">
            {{ class.title }}
          </a>
          {% else %}
          {% for class in site.classes %}
          {{ tempid | inspect }}
          {{ class | jsonify }}
          {% endfor %}
          {% endif %}
          {% endif %}
          {% endfor %}
          <!--<span class="dropdown-item disabled">
            Current classes
          </span>
          <a class="dropdown-item" href="#">
            PIC 10C
          </a>
          <div class="dropdown-divider"></div>
          -->
        </div>
      </li>
    </ul>
  </div>
</nav>