--- 
---

@import "variables";
@import "bootstrap/scss/bootstrap";

//custom
.content {
    font-size: $custom-font-size;
}


.aboutme dt,
.location {
    font-weight: bold;
}

body {
    --text-bg-color: #eee;
    --light-grey-blue: #d2def7;
    --light-beige-gold: #faf2d9;
    --lighter-beige-gold: #faf5e6;
    --beige-gold: #ffe79e;
    --medium-beige-gold: #ffecbf;
    --dark-grey-blue: #273554;
    --bright-blue: #5c8fff;
    --gold-highlight: #f5ca5d;
    --default-text: #111;
    background: var(--medium-beige-gold);
    color: var(--default-text);
}

div.round-box, div.text-container {
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}

div > *:last-child {
    margin-bottom: 0px;
}

div.paper-div {
    font-size: $smaller-font-size;
}

span.paper-title {
    font-size: $paper-title-size;
    font-weight: bold;
}

div.text-container {
    background: var(--text-bg-color);
}

.dark-bg {
    background: var(--dark-grey-blue);
    color: var(--light-grey-blue);
}

.dark-bg h1 {
    color: var(--gold-highlight);
    margin: 0px;
}
.dark-bg p, .dark-bg span {
    color: var(--light-grey-blue);
    margin: 5px 0px 0px 0px;
}
.dark-bg a:link {
    color: #adb9f2;
}
.dark-bg a:visited {
    color: #cd99b2;
}

a.nav-link:link {
    color:#fff ;
}
a.nav-link:visited {
    color: #fff;
}

.nav-link.active {
    font-weight:bold;
}

a:link {
    color: #2020a0;
}

a:visited {
    color: #6020a0;
}

div h1 {
    margin: 0px;
}

.dark-override.bg-dark {
    background: var(--dark-grey-blue)!important;
}

.math-header {
    background: var(--dark-grey-blue);// #1c0e44;
    color: #eee;
    border-radius: 7px;
    padding: 3px 7px 6px 7px;
    margin-right: 5px;
}

blockquote.math-quote {
    background: #ddd;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.8;
}

blockquote.math-quote > *:last-child {
    margin-bottom: 0px;
}